# kancolle onedraw pic class application

# application output

*.csv
*.db
/images/

# vim

*.swp

# Mac

.DS_Store

# pyenv

/venv/

# Django

*.log
*.pot
*.py[cod]
__pycache__/
local_settings.py
staticfiles
.env
db.sqlite3
